<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>
        Sign in
    </h1>
    <form action="in" method="post">
        <label for="nom">nom</label>
        <input type="text" name="nom" id="nom">
        <br>
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="mdp">mot de passe</label>
        <input type="password" name="mdp" id="mdp">
        <br>
        <input type="submit" value="s'inscrir">
    </form>
</body>
</html>
